# Basic Configs
#----------------------------
JWT_SECRET=XASDATIOHASDHIOASCNASFOPHNAFSc8ca52f57b23382ae403acea56e4c65a10406606b5c30ad174b50092bbaf9419
JWT_EXPIRES_IN=3600
#Generate JWT_SECRET using this command
#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

# Database Configs
#----------------------------
DB_USER=postgres
DB_SCHEMA=pfnode
DB_PASSWORD=my_password
DB_PORT=5432
DB_HOST=localhost
# Use any of the following DB Types : postgres, mysql, sqlite, etc. Ensure compatibility with TypeORM
DB_TYPE=postgres

# Server Configs
#----------------------------
SERVER_HOST=localhost
SERVER_PORT=3001


# App Configs
#----------------------------
